<p><strong>Main Office:</strong><br>
657 Weiss Hall<br>
<a href="tel:2152047321">(215) 204-7321</a><br>
Fax: (215) 204-5539</p>
<hr>
<p><strong>Chair:</strong><br>
Peter Marshall, PhD<br>
656 Weiss Hall<br>
<a href="tel:2152047360">(215) 204-7360</a><br>
<a href="mailto:pjmarsh@temple.edu">pjmarsh@temple.edu</a></p>
<hr>
<p><strong>Associate Chair:</strong><br>
Peter James, PhD<br>
606 Weiss Hall<br>
<a href="tel:2152043409">(215) 204-3409</a><br>
<a href="mailto:pjames@temple.edu">pjames@temple.edu</a></p>
<hr>
<p><strong>Director of Graduate Studies:</strong><br>
Deborah Drabick, PhD<br>
822 Weiss Hall<br>
<a href="tel:2152040957">(215) 204-0957</a><br>
<a href="mailto:deborah.drabick@temple.edu">deborah.drabick@temple.edu</a></p>
<hr>
<p><strong>Senior Administrator:</strong><br>
Veronica Holloway<br>
<a href="tel:2152042644">(215) 204-2644</a><br>
<a href="mailto:veronica.holloway@temple.edu">veronica.holloway@temple.edu</a></p>
<hr>
<p><strong>Senior Academic Coordinator:</strong><br>
Lauren McDuffie<br>
657 Weiss Hall<br>
<a href="tel:2152047320">(215) 204-7320</a><br>
<a href="mailto:lmcd@temple.edu">lmcd@temple.edu</a></p>
<hr>
<p><strong>Graduate Coordinator:</strong><br>
Vanessa Allen-Smith<br>
653 Weiss Hall<br>
<a href="tel:2152047667">(215) 204-7667</a><br>
<a href="mailto:vallens@temple.edu">vallens@temple.edu</a></p>
<hr>
<script type="text/javascript" src="https://form.jotform.com/jsform/82204764588162"></script>
