<p><strong>Main Office:</strong><br>
657 Weiss Hall<br>
<a href="tel:2152047321">(215) 204-7321</a><br>
Fax: (215) 204-5539</p>
<hr>
<p><strong>Chair:</strong><br>
Peter Marshall, PhD<br>
656 Weiss Hall<br>
<a href="tel:2152047360">(215) 204-7360</a><br>
<a href="mailto:pjmarsh@temple.edu">pjmarsh@temple.edu</a></p>
<hr>
<p><strong>Associate Chair:</strong><br>
Peter James, PhD<br>
606 Weiss Hall<br>
<a href=tel:"2152043409">(215) 204-3409</a><br>
<a href="mailto:pjames@temple.edu">pjames@temple.edu</a></p>
<hr>
<p><strong>Director of Graduate Studies:</strong><br>
Deborah Drabick, PhD<br>
822 Weiss Hall<br>
<a href="tel:2152040957">(215) 204-0957</a><br>
<a href="mailto:deborah.drabick@temple.edu">deborah.drabick@temple.edu</a></p>
<hr>
<p><strong>Senior Administrator:</strong><br>
Laura Dean<br>
654 Weiss Hall<br>
<a href="tel:2152042644">(215) 204-2644</a><br>
<a href="mailto:ldean@temple.edu">ldean@temple.edu</a></p>
<hr>
<p><strong>Assistant Administrator:</strong><br>
Michelle Bonilla<br>
657 Weiss Hall<br>
<a href="tel:2152047317">(215) 204-7317</a><br>
<a href="mailto:mbonilla@temple.edu">mbonilla@temple.edu</a></p>
<hr>
<p><strong>Senior Academic Advisor for Psychology:</strong><br>
Nicole Pileggi, M.Ed.<br>
616 Weiss Hall<br>
<a href="tel:2152043403">(215) 204-3403</a><br>
<a href="mailto:nicole.pileggi@temple.edu">nicole.pileggi@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Coordinator:</strong><br>
Kia Lavender Little<br>
655 Weiss Hall<br>
<a href="tel:2152045998">(215) 204-5998</a><br>
<a href="mailto:kia.little@temple.edu">kia.little@temple.edu</a></p>
<hr>
