<h2>Affiliated Faculty</h2>
  
<p> The affiliated neuroscience faculty consists of faculty members from different departments/colleges who serve as mentors for undergraduate independent research studies and for Master’s projects.</p>
  
<h3>College of Liberal Arts</h3>
<strong>Department of Psychology</strong>
  <ul>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/alloy-lauren">Lauren Alloy</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/chein-jason">Jason Chein</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/ellman-lauren">Lauren Ellman</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/giovannetti-tania">Tania Giovannetti</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/james-peter">Peter James</a></li>
 <li><a href="http://www.sdnlaboratory.com/">Johanna Jarcho (Stony Brook University)</a></li> 
 <li><a href="https://liberalarts.temple.edu/academics/faculty/marshall-peter-j">Peter Marshall</a></li>    
 <li><a href="https://liberalarts.temple.edu/academics/faculty/murty-vishnu">Vishnu Murty</a></li>  
 <li><a href="https://liberalarts.temple.edu/academics/faculty/olson-ingrid">Ingrid Olson</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/smith-david">David Smith</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/waxler-david">David Waxler</a></li>
  </ul>
