<h2>Affiliated Faculty</h2>
  
<p> The following faculty from other departments and colleges have courtesy appointments in the Department of Psychology in recognition of their enduring collaborations and linkages with our faculty and students. </p>
  
  <ul>
 <li><a href="https://cph.temple.edu/commsci/faculty/nadine-martin">Nadine Martin (CPH)</a></li>
 <li><a href="https://cph.temple.edu/commsci/faculty/jamie-reilly">Jamie Reilly (CPH)</a></li>
 <li><a href="https://www.fox.temple.edu/mcm_people/vinod-venkatraman/">Vinod Venkrataman (Fox)</a></li>
 <li><a href="https://education.temple.edu/faculty/julie-l-booth-phd">Julie Booth (Education)</a></li>
 <li><a href="https://medicine.temple.edu/ellen-unterwald">Ellen Unterwald (School of Medicine)</a></li>
  </ul>
